/********* BULMA PRESETS ********/

@charset "utf-8";

// Import a Google Font
@import url('https://fonts.googleapis.com/css?family=Amatic+SC:400,700|Open+Sans+Condensed:300,300i,700');
@import url('https://fonts.googleapis.com/css?family=Fredericka+the+Great');
@import url('https://fonts.googleapis.com/css?family=Cabin+Sketch:400,700');

// Set your brand colors
$blue: #4778de;
$red: #de5247;
$gold: #dfa62b;
$light-gold: rgb(255, 216, 132);
$dark-gold: rgb(97, 67, 0);
$dark: #101010;
$gray: #585858;
$light-gray: #7d7c7c;


// Update Bulma's global variables
$family-sans-serif: 'Open Sans Condensed', sans-serif;
$info: $gold;
$success: $light-gold;
$warning: $gold;
$link: $gold;


// Update some of Bulma's component variables
$text: $light-gray;
$body-background-color: $dark;
$control-border-width: 2px;
$input-border-color: transparent;
$input-shadow: none;
$input-placeholder-color: $gold;

// Import only what you need from Bulma
@import "../../../node_modules/bulma/sass/utilities/_all.sass";
@import "../../../node_modules/bulma/sass/base/_all.sass";
@import "../../../node_modules/bulma/sass/elements/button.sass";
@import "../../../node_modules/bulma/sass/elements/container.sass";
@import "../../../node_modules/bulma/sass/elements/title.sass";
@import "../../../node_modules/bulma/sass/form/_all.sass";
@import "../../../node_modules/bulma/sass/components/navbar.sass";
@import "../../../node_modules/bulma/sass/layout/hero.sass";
@import "../../../node_modules/bulma/sass/layout/section.sass";
@import "../../../node_modules/bulma-extensions//bulma-checkradio/dist/css/bulma-checkradio.sass";
@import "../../../node_modules/bulma/sass/components/card.sass";
@import "../../../node_modules/bulma-extensions//bulma-pageloader/dist/css/bulma-pageloader.sass";

/********* CUSTOM STYLES ********/

* {
  box-sizing: border-box;
}

.modal-content {
  max-width: 90%;
}

.modal-stats {
  text-align: center;
}

.navbar {
  background-color: $dark;

  .logo-text {
    font-family: 'Cabin Sketch', sans-serif;
    background-image: linear-gradient(to top right, $dark-gold, $gold);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    font-style: normal;
    font-size: 1.7em;
    font-weight: 700;
  }
}

.title {
  font-family: 'Cabin Sketch', sans-serif;
  background-image: linear-gradient(to top right, $dark-gold, $gold);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  font-size: 3rem;
}

.subtitle {
font-style: italic;

}

.input, .textarea {
  background-color: $dark;
  border: 1px solid $gray;
}

.help.is-danger {
  margin: 5px;
}


#homepage {

  max-height: 100vh;

  .columns {
    width: 100%;
  }

  #title-column {
    display: flex;
    justify-content: center;
    align-items: center;

    button {
      color: $dark;
      background-color: $dark;
      text-shadow: 1px 1px 2px $gold;
      font-weight: 700;
      margin: 10px 5px;
      width: 150px;
      height: 100px;
      border: none; 
      background-image: url(../images/crayon-shading-gold-gradient.png);
      background-position: center;
      background-size: contain;
      background-repeat: no-repeat;
    }

    button:hover {
      background-image: url(../images/crayon-shading-gold-gradient-light.png);
      text-shadow: 1px 1px 2px $light-gold;
    }
  }
}


.worldmapsvg {

  .pageloader {
    background-color: rgba($dark, 0.2);
    display: flex;
    align-items: center;
    justify-content: center;

  }

  svg {
    width: 100%;
    height: auto;

    path.amcharts-map-area {
      stroke: $light-gray;
    }

    g:not(:hover) text {
      opacity: 0;
    }

    g:not(:hover) {
      path {
        fill-opacity: 0;
      }
    }

    path.amcharts-map-area.visited {
        fill: url(#pattern-gold);
        fill-opacity: 1;
      }

    g.country:hover {
      path.amcharts-map-area.visited {
        fill: url(#pattern-light);
      }
    }

    text.label {
      font-weight: 300;
      font-size: 1.5rem;
      fill: $gold;
    }
  }
}

#user-profile-header {
  position: -webkit-sticky; 
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: $dark;
  background: linear-gradient(to bottom, $dark, $dark 75%, rgba($dark,0) 90%);
  padding-bottom: 100px;

  .click-me {
    color: $gold;
  }
}


#user-profile {

  text-align: center;

  div.badge-display {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
  img {
    height: auto;
    width: 150px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }

  div.overlay {
    position: absolute;
    top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 150px;
    background-color: rgba(255, 216, 132, 0.9);
    padding: 10px;
    opacity: 0;
  
    div {
      max-width: 100%;
      overflow-wrap: break-word;
      color: $dark-gold;
    }
  }

  div.overlay:hover {
    opacity: 1;
  }


}

// styling to toggle between left and right info on profile page
.hide {
  display: none;
}

// ********** ******* //

.is-checkradio[type="checkbox"] + label::before, 
.is-checkradio[type="checkbox"] + label:before {
  border: 0.1rem solid $light-gray;
}

#city-selection {

  .form {
    position: -webkit-sticky; 
    position: sticky;
    top: 0;
    background-color: rgba(16, 16, 16, 0.7);
    z-index: 10;

    .input {
      width: 100%;       
    }  

    .button {
      width: 100%
    }
  }

  .loading {
    padding: 10px;
  }
  
  .accordion {
    z-index: -10;

    .accordion__button {
      cursor: pointer;
      padding: 10px;
      width: 100%;
      text-align: left;
      border: none;
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;
    }

    .accordion__button:hover {
      color: $gold;
    }

    .accordion__button:before {
      display: inline-block;
      content: '';
      height: 10px;
      width: 10px;
      margin-right: 12px;
      border-bottom: 2px solid currentColor;
      border-right: 2px solid currentColor;
      transform: rotate(-45deg);
      z-index: -1;
    }

    .accordion__button[aria-expanded='true']::before,
    .accordion__button[aria-selected='true']::before {
      transform: rotate(45deg);
    }

    .accordion__panel {
      padding: 20px;
      animation: fadein 0.35s ease-in;
    }
  }
}


// NAVBAR STYLING


.icons {
  position: absolute;
  top: 70%;
  left: 70%;
  transform: translateX(-50%) translateY(-50%);
}
.hamburger {
  content: ' ';
  position: relative;
  width: 20px;
  border: 2px solid black;
  border-radius: 5px;
  transition: all 0.333333333333333s ease;
}
.hamburger:after,
.hamburger:before {
  content: ' ';
  position: absolute;
  left: 50%;
  width: 100%;
  border: 2px solid black;
  border-radius: 5px;
  transform: translateX(-50%);
  transition-property: top, bottom, transform;
  transition-duration: 1s, 1s, 0.25s;
}
.hamburger:after {
  color: black;
  top: -8px;
}
.hamburger:before {
  bottom: -8px;
}
.menu {
  pointer-events: none;
}
.menu--circle {
  position: fixed;
  z-index: 13;
  right: 0%;
  bottom: 0%;
  transform: rotate(180deg);
  width: 243.33333333333334px;
  height: 243.33333333333334px;
  overflow: hidden;
}
.menu__active {
  position: relative;
}
.menu__toggle {
  z-index: 11;
  position: absolute;
  top: -100px;
  left: -100px;
  width: 200px;
  height: 200px;
  background-color: rgb(97, 67, 0);
  border-radius: 50%;
  transition: transform 1.3s;
  cursor: pointer;
  pointer-events: auto;
}
.menu__listings {
  z-index: 10;
  position: absolute;
  top: -200px;
  left: -200px;
  width: 400px;
  height: 400px;
  border-radius: 50%;
  transform: scale(0.1) rotate(150deg);
  transition: transform 1s;
}
.menu__arrow {
  transform: rotate(180deg);
  visibility: hidden;
  position: absolute;
}
.menu__arrow input[type="radio"] {
  position: fixed;
  top: -99999px;
  left: -99999px;
}
.menu__arrow ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
.menu__arrow--top {
  top: 0.5em;
  left: 220px;
}
.menu__arrow--top .arrow {
  transform: rotate(-45deg);
}
.menu__arrow--left {
  top: 220px;
  left: 0.5em;
}
.menu__arrow--left .arrow {
  transform: rotate(-135deg);
}
.arrow {
  width: 20px;
  height: 20px;
  border-right: 6.666666666666667px solid rgb(255, 216, 132);
  border-top: 6.666666666666667px solid rgb(255, 216, 132);
  border-radius: 3px;
  transition: border-color 0.3s;
  cursor: pointer;
  pointer-events: auto;
}
.arrow:hover {
  border-color: white;
  transition: border-color 0.3s;
}
.circle {
  position: relative;
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
  background-color: rgb(255, 216, 132);
  border-radius: 50%;
  transform: rotate(108deg);
  overflow: hidden;
  list-style: none;
}
.circle li {
  position: absolute;
  top: 0;
  right: 0;
  width: 50%;
  height: 50%;
  transform-origin: 0 100%;
}
.circle li .placeholder {
  position: absolute;
  left: -100%;
  padding-top: 1.5em;
  width: 200%;
  height: 200%;
  text-align: center;
  transform: skewY(54deg) rotate(18deg);
}
.circle li .placeholder .upside {
  transform: rotate(180deg);
}
.circle li .placeholder a {
  text-decoration: none;
  pointer-events: auto;
}
.circle li .placeholder button {
  pointer-events: auto;
}
.circle li .placeholder .navbutton {
  font-size: 2.3em;
  background-color: transparent;
  border: none;
  color: black;
  cursor: pointer;
}
.circle li:nth-child(1) {
  transform: rotate(0deg) skewY(-54deg);
  
  color: $dark;
      background-color: $dark;
      text-shadow: 1px 1px 2px $gold;
      background-image: linear-gradient(to top right, $dark-gold, $gold)
      
}
.circle li:nth-child(2) {
  transform: rotate(36deg) skewY(-54deg);
  background-color: $dark;
  text-shadow: 1px 1px 2px $gold;
  background-image: linear-gradient(to top right, $dark-gold, $gold)
}
.circle li:nth-child(3) {
  transform: rotate(72deg) skewY(-54deg);
  background-color: $dark;
  text-shadow: 1px 1px 2px $gold;
  background-image: linear-gradient(to top right, $dark-gold, $gold)
}
.circle li:nth-child(4) {
  transform: rotate(108deg) skewY(-54deg);
  background-color: $dark;
  text-shadow: 1px 1px 2px $gold;
  background-image: linear-gradient(to top right, $dark-gold, $gold)
}
.circle li:nth-child(5) {
  transform: rotate(144deg) skewY(-54deg);
  background-color: $dark;
  text-shadow: 1px 1px 2px $gold;
  background-image: linear-gradient(to top right, $dark-gold, $gold)
}
.circle li:nth-child(6) {
  transform: rotate(180deg) skewY(-54deg);
  background-color: $dark;
  text-shadow: 1px 1px 2px $gold;
  background-image: linear-gradient(to top right, $dark-gold, $gold)
}
.circle li:nth-child(7) {
  transform: rotate(216deg) skewY(-54deg);
  background-color: $dark;
  text-shadow: 1px 1px 2px $gold;
  background-image: linear-gradient(to top right, $dark-gold, $gold)
}
.circle li:nth-child(8) {
  transform: rotate(252deg) skewY(-54deg);
  background-color: $dark;
  text-shadow: 1px 1px 2px $gold;
  background-image: linear-gradient(to top right, $dark-gold, $gold)
}
.circle li:nth-child(9) {
  transform: rotate(288deg) skewY(-54deg);
  background-color: $dark;
  text-shadow: 1px 1px 2px $gold;
  background-image: linear-gradient(to top right, $dark-gold, $gold)
}
.circle li:nth-child(10) {
  transform: rotate(324deg) skewY(-54deg);
  background-color: $dark;
  text-shadow: 1px 1px 2px $gold;
  background-image: linear-gradient(to top right, $dark-gold, $gold)
}
#menu__active {
  position: fixed;
  top: -99999px;
  left: -99999px;
}
#menu__active:checked ~ label .menu__listings {
  transform: rotate(10deg) scale(1);
  transition: transform 1s;
}
#menu__active:checked ~ label .menu__toggle {
  background-color: rgb(255, 216, 132);
  transition: all 1s;
}
#menu__active:checked ~ label .hamburger {
  border-color: transparent;
  transition: border-color 0.333333333333333s;
}
#menu__active:checked ~ label .hamburger:after {
  top: -2px;
  border-color: rgb(97, 67, 0);
  transform: translateX(-50%) rotate(45deg);
  transition-property: top, transform;
  transition-duration: 0.25s, 1s;
}
#menu__active:checked ~ label .hamburger:before {
  bottom: -2px;
  border-color: black;
  transform: translateX(-50%) rotate(-45deg);
  transition-property: bottom, transform;
  transition-duration: 0.25s, 1s;
}
#menu__active:checked ~ label .navbutton:hover {
  color: rgb(255, 216, 132);
}
#menu__active:checked ~ label .menu__arrow {
  visibility: visible;
  transition: all 1s 1.111111111111111s;
}
#menu__active:checked ~ label .menu__arrow--top label {
  display: none;
}
#menu__active:checked ~ label .menu__arrow--top label[for="degree--up-0"] {
  display: block;
}
#menu__active:checked ~ label #degree--up-0:checked ~ .menu__listings {
  transform: rotate(116deg);
}
#menu__active:checked ~ label #degree--up-0:checked ~ .menu__arrow--top label {
  display: none;
}
#menu__active:checked ~ label #degree--up-0:checked ~ .menu__arrow--top label[for="degree--up-1"] {
  display: block;
}
// #menu__active:checked ~ label #degree--up-1:checked ~ .menu__listings {
//   transform: rotate(224deg);
// }
// #menu__active:checked ~ label #degree--up-1:checked ~ .menu__listings ~ .menu__arrow--top label {
//   display: none;
// }
#menu__active:checked ~ label #degree--up-1:checked ~ .menu__listings ~ .menu__arrow--top label[for="degree--up-2"] {
  display: block;
}

.fa {
transform: rotate(180deg);

}

.navbar-links{
  font-size: 100%;
  transform: rotate(180deg);
  line-height: 0%;
  color: black;
  font-weight: bold;
 
}


.navbar-links:hover {
  color: rgb(255, 216, 132);
}

#groups-page {
  .subtitle {
    color: $gold;
  }

  .groups-grouping {
    width: 100%;
    border-top: 1px solid $gold;
    margin: 30px 0;

    .subtitle {
      margin-top: 10px;
    }
  }
}

#group-card {

  .card, .card-content, .card-footer {
    background: $dark;
    border-radius: 10px;
  }
  
  .card {
    border: 1px solid $gold;

    .card-footer {
      background-image: linear-gradient(to top right, $dark-gold, $gold);
      border-top: 1px solid $gold;

      a.card-footer-item {
      
        color: $dark;
        border-right: none;
        border-left: none;

        :hover{
          color: $light-gold;
        }

        .pending {
          cursor: default;
        }

        .fas.fa-clock.pending.is-size-5 {
          color: $dark-gold;
          
          :hover {
            color: $dark-gold;
          }
        }

      }
    }
  }

  .media {
    border: none;

    i {
      color: $gold;
    }
    
    .member-image {
      margin: 5px;
    }
  }


}